*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#ff4da6;
    color:white;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.logo{
    font-size:20px;
    font-weight:bold;
    color:white;
    text-decoration:none;
}

.nav-links a{
    margin:0 15px;
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    opacity:0.7;
}

.nav-right{
    font-weight:bold;
    background:white;
    color:#ff4da6;
    padding:5px 12px;
    border-radius:20px;
}
.historial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background-image: url("./img1.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: fixed;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
}


.card-table {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    padding: 40px;
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(236, 72, 153, 0.3);
    text-align: center;
}

.card-table h1 {
    font-size: 40px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #be185d, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-table p {
    font-size: 14px;
    margin-bottom: 25px;
    color: #831843;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background: linear-gradient(90deg, #ec4899, #be185d);
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    font-weight: 600;
}

tbody tr {
    background-color: #fff0f6;
    transition: 0.3s;
}

tbody tr:nth-child(even) {
    background-color: #ffe4f0;
}

tbody tr:hover {
    background-color: #f9a8d4;
    color: white;
    transform: scale(1.01);
}



/*RESPONSIVE*/


@media (max-width: 1024px) {

    .navbar {
        padding: 15px 30px;
    }

    .nav-links {
        gap: 20px;
    }

    .card, .card-table {
        width: 95%;
    }

}


@media (max-width: 768px) {

 
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

  
    .card {
        width: 90%;
        padding: 30px;
    }

    .card h1 {
        font-size: 22px;
    }

  
    .card-table {
        width: 100%;
        overflow-x: auto;
    }

    table {
        min-width: 600px;
    }
}


@media (max-width: 480px) {

    body {
        font-size: 14px;
    }

    .navbar {
        padding: 15px;
    }

    .logo {
        font-size: 18px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .balance {
        font-size: 12px;
        padding: 6px 12px;
    }

    .card, .card-table {
        padding: 20px;
    }

    .card h1, .card-table h1 {
        font-size: 20px;
    }

    .hero-content h1 {
        font-size: 24px;
    }

    button {
        padding: 10px;
        font-size: 14px;
    }
}