* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* background: linear-gradient(135deg, #fbcfe8, #f472b6); */

    background-image: url("./img1.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: fixed;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.login-container {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #57253a8a;

    z-index: -1;
}

.card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    padding: 40px;
    width: 380px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(236, 72, 153, 0.3);
    text-align: center;
}


.card h1 {
    font-size: 40px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #be185d, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card p {
    font-size: 14px;
    margin-bottom: 25px;
    color: #831843;
}


form {
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #831843;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 18px 0;
    border-radius: 10px;
    border: 1px solid #f9a8d4;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #ec4899;
    box-shadow: 0 0 8px rgba(236, 72, 153, 0.3);
}


button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #ec4899, #be185d);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(236, 72, 153, 0.4);
}